@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

.footer-bottom,
.footer-center,
.footer-left,
.footer-rigth,
.site-footer {
    background-color: var(--footer-background)
}





.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.footer-title {
    font-family: inter;
    color: var(--footer-font);
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff
}

.footer-copyright,
.footer-link,
.footer-text,
.social-links {
    color: var(--footer-font);
    font-family: inter
}

.footer-text {
    font-weight: 300;
    font-size: .9vw
}

.footer-center,
.footer-left,
.footer-rigth {
    height: 30vh
}

.footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1% 1% 1% 7%;
    line-height: 1.3vw
}

.footer-center,
.footer-rigth {
    padding: 1%;
    line-height: 1.3vw;
    display: flex
}

.footer-center {
    width: 20%;
    flex-direction: column;
    justify-content: space-evenly
}

.footer-list {
    list-style: none
}

.footer-rigth {
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly
}

.footer-line,
.footer-line-two {
    width: 80%;
    margin-left: 10%
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 10vh;
    padding-left: 5%
}

.footer-copyright {
    width: 50%;
    font-weight: 200;
    font-size: 1.2rem
}

.footer-link {
    font-size: 1vw;
    text-decoration: none
}

.footer-link:hover {
    color: #36c
}

.socials-right {
    display: flex
}

.social-links {
    text-decoration: none;
    font-size: .8vw
}

.social-links:hover {
    color: var(--footer-hover)
}

.social-icons {
    width: 50%;
    text-align: center
}

.footer-icon {
    width: 100%;
    font-size: 2vw;
    padding: 1%
}


/*Responsive for Tablet and phones*/

@media (max-width: 1024px) {

    .main-footer,
    .footer-center,
    .footer-left,
    .footer-rigth {
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        width: 100%;
        text-align: center;
        height: auto;
    }

    .footer-left {
        width: 100%;
    }

    .footer-link,
    .footer-title,
    .footer-text,
    .social-links {
        font-size: 1.2rem;
        line-height: 3vw;
    }

    .footer-bottom {
        flex-direction: column;
        height: auto;
        padding: 0%;
        width: 100%;
    }

    .footer-copyright {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .footer-link,
    .footer-title,
    .footer-text,
    .social-links {
        font-size: 1.2rem;
        line-height: 6vw;
        padding: 2%;
    }

    .footer-bottom {
        flex-direction: column;
        height: auto;
        padding: 0%;
        width: 100%;
    }

    .footer-copyright {
        text-align: center;
        width: 100%;
    }
}