:root {
    --letra-global: #ffffff;
    --main-navbar: rgb(0, 0, 0);
    --letra-navbar-before: #cecece;
    --letra-navbar: #ffffff;
    --main-body-bg: #1f1f1f;
    --main-home: #1f1f1f;
    --about-color-main: grey;
    --news-color: #1d1d1d;
    --sustaibability-bg: #264d57;
    --cookies-color: #707070;
    --floatin-text: rgb(0, 0, 0);
    --main-menu: black;
    --footer-font: #818a91;
    --footer-link: #737b81;
    --footer-background: #222329;
    --footer-hover: #3366cc;
    --fondo-boton: #e24f2b;
}